TextField
 {
    -fx-background-color: transparent;
    -fx-font-size: 22;

 }





 #lbox1,#lbox,#cbox,#cbox1,#wbox, #wbox1
  {
     -fx-background-color: transparent;
        -fx-font-size: 18;
    -fx-font-family: "GOTHICB0";
  }


.
#menu,#game,#about{
     -fx-background-color: transparent;

}
#game{
     -fx-background-color: transparent;

}
