
root{
    -fx-font-size: 14pt;
    -fx-background: #A78732;
    -fx-focus-color: #B6A678;
}

@font-face {
    src: url('BebasNeue-Regular.ttf');
}
Anchropane {
 -fx-background-color: #123456;
 }

TextField
 {
    -fx-background-color: transparent;
    -fx-font-size: 25;

 }


 #lbox1,#lbox,#cbox,#cbox1,#wbox, #wbox1, #changemode
  {
     -fx-background-color: transparent;
        -fx-font-size: 20;
    -fx-font-family: "GOTHICB0";
  }


.