@font-face {
    src: url('BebasNeue-Regular.ttf');
}


#currency
 {
    -fx-background-color: transparent;
      -fx-font-family: 'BebasNeue-Regular';
    -fx-font-size:35;

 }
#length, #weight{
 -fx-background-color: transparent;
     -fx-font-family: 'BebasNeue-Regular';
     -fx-font-size:20;

 }