@font-face {
    src: url('BebasNeue-Regular.ttf');
}


#length
 {
    -fx-background-color: transparent;
      -fx-font-family: 'BebasNeue-Regular';
    -fx-font-size:35;

 }
 #weight,#currency{
  -fx-background-color: transparent;
     -fx-font-family: 'BebasNeue-Regular';
     -fx-font-size:20;

 }